<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Restablecer su contraseña</h1>
      <p></p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-item lines="full">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" required #email></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button type="submit" class="login-button" (click)="onResetPass(email)" expand="block">Enviar</ion-button>
      <p>Proporcione la dirección de correo electrónico que utilizó cuando se registró.</p>
    </div>
  </div>
</ion-content>
